<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
    type="text/css">
  <link rel="stylesheet" type="text/css" href="asset/css/style2.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/07d7b7e553.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/shield-plus.svg" />

  <title>Sol Patrol</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  
  <div id="cursor"><img src="images/plus.svg" alt=""></div>
    <div class="box-one"></div>

    <nav class="nav-bar"
      style="padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; border-bottom:3px solid #ccc; margin-bottom: 100px;">
      <div class="left">
        <h2>
          solpatrol.io
        </h2>
      </div>
    </nav>

    <h1 align="center" style="margin-bottom: 100px;">SOL PATROL</h1>
    <h3 align="center" style="margin-bottom: 30px;">The Sol Patrol is an elite team of 3333 combat monkiez</h3>
    <br><br>
    <h3 align="center" style="margin-bottom: 30px;">
      [ one goal ]
    </h3>
    <h3 align="center"><span class="nes-text is-error">STOP and CAPTURE all Solana NFTs</span></h3>
    <h3 align="center">
    </h3>
    <div class="container" style="padding: 100px" align="center">
      <div class="nes-container is-rounded is-dark">
        <p>100% royalties to burn $bail</p>
      </div>
    </div>
    <br>
    <hr><br>
    <div class="container">
      <h1 align="center" style="margin-top: 40px; margin-bottom: 50px;">EMERGENCY ALERT</h1>
      <p>Recently, the Sol Patrol has noticed an increase in suspicious activity. There have been several reports that indicate violent "twitter" raids.
      </p>
      <p>
        These activities have warranted a deployment of a Sol Patrol Squad to the commonland to stop these
        terrorizing crimes.
      </p>
      <p>
        A special division of elite combat monkiez have been dispatched to stop and capture all Solana NFTs. Once these NFT have been captured, they will be placed into the patrolDAO Prison, and the court shall
        determine
        their fate.
      </p>
      <p style="margin-bottom: 80px;">There have also been some recent rumors that indicate there have been sightings of
        multiple NFTs in
        a pale white or grey facial skin color and disfigured teeth. Others have reported to have seen fully green NFTs called "zombies"
        roaming the lands.
        Although these rumors have not been verified, we urge all travelers to be extremely cautious in Solana until
        further
        information can be revealed.</p>
    </div>
    <br>
  <div class="container">
    <div class="nes-container with-title is-centered">
      <p class="title">FAQ – MINTING</p>
      <h4 style="text-align: left; margin-top: 20px">What is the minting price for a Sol Patrol?</h5>
        <p style="text-align: left; margin-top: 20px"> <span class="nes-text is-primary"> The minting fee is set to 0.25
            SOL.</span> </p>
        <h4 style="text-align: left;margin-top: 30px">What is the royalty system for this project?</h5>
          <p style="text-align: left;margin-top: 20px"> <span class="nes-text is-primary"> 50% of the royalties
              generated from Sol
              Patrol will be given back to the community. See below for more information.</span> </p>
          <h4 style="text-align: left;margin-top: 30px">What will the minting fees be used for?</h5>
            <p style="text-align: left;margin-top: 20px"> <span class="nes-text is-primary"> Minting fees will be used
                for the DAO
                and to reach goals outlined in the roadmap below.</span>
            </p>
            <h4 style="text-align: left;margin-top: 30px">How can I safely mint?</h5>
              <p style="text-align: left;margin-top: 20px"> <span class="nes-text is-primary"> Always use a burner
                  wallet and only
                  transfer the amount of SOL that will be utilized for minting. </span>
              <h4 style="text-align: left;margin-top: 30px">Where is the rarity chart?</h5>
                <p style="text-align: left;margin-top: 20px"> <span class="nes-text is-primary"> The rarity chart will
                    be available
                    after the launch of Sol Patrol.</span>
                </p>
    </div>
  </div>
  <br><br><br>
  <div class="container">
    <div class="nes-container with-title is-centered">
      <p class="title">FAQ – SOL PATROL</p>
      <h4 style="text-align: left; margin-top: 20px">What is the Sol Patrol?</h5>
        <p style="text-align: left; margin-top: 20px"> <span class="nes-text is-primary">The Sol Patrol is a team of
            highly skilled combat monkiez designed to capture NFTs in the Solana ecosystem. The Sol Patrol uses 50% of
            royalties generated to support the DAO and community.</span> </p>
        <p style="text-align: left; margin-top: 20px"> <span class="nes-text is-primary"> The Sol Patrol was created to
            incentivize the
            long-term holding of Sol NFTs. The incentive mechanism are explained below.</span> </p>
        <h4 style="text-align: left; margin-top: 30px">What is the incentive of holding a Sol Patrol?</h5>
          <p style="text-align: left; margin-top: 20px"> <span class="nes-text is-primary"> By owning a Sol Patrol, the
              user gets access
              to patrolDAO Prison System.</span> </p>
          <p style="text-align: left; margin-top: 20px"> <span class="nes-text is-primary"> Owners of a
              Sol Patrol NFT will
              be given $BAIL for capturing NFTs and holding them within the patrolDAO Prison System. The longer the NFT is held within the patrolDAO Prison, the $BAIL airdrop is increased
              systematically. Furthermore, holding more Sol Patrols will return a higher airdrop multiplier.</span> </p>
          <h4 style="text-align: left; margin-top: 30px">What is $BAIL and what drives $BAIL demand?</h5>
            <p style="text-align: left; margin-top: 20px"> <span class="nes-text is-primary"> $BAIL will be used to
                break the NFT out of prison. When a owner decides to sell the NFT, the multiplier for the $BAIL
                reward will be reset. However, the owner will be allowed to transfer ownership with the token multiplier
                by paying a fee to the patrolDAO treasury.</span>
            <h4 style="text-align: left; margin-top: 30px">What are the tokenomics for $BAIL?</h5>
              <p style="text-align: left; margin-top: 20px"> <span class="nes-text is-primary"> The exact structure
                  and tokenomics will
                  be determined by patrolDAO but the $BAIL will be at minimum 90% used for the community and the
                  remainder will be utilized for development.</span>
              <h4 style="text-align: left;margin-top: 30px">Do you have a roadmap?</h5>
                <p style="text-align: left; margin-top: 20px; margin-bottom: 40px"> <span class="nes-text is-primary">
                    Yes, the full roadmap is below this FAQ section.</span>
    </div>
  </div>
  <br><br><br>
  <div class="container">
    <div class="nes-container with-title is-centered">
      <h3 style="margin-bottom: 0px; padding-bottom: 30px;">
        <h1 class="topic-title">
          <p style="letter-spacing:5px;"></i> ROADMAP
      </h3>
      <br>
      <div class="nes-container is-dark">
        <div class="row">
          <div class="col-xs-12">
            <p style="margin-bottom: 30px; font-size: 20px;">Chapter 1: Journey Begins</p>
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <p style="text-align: center; margin-bottom: 30px">Launch Minting</p>
              </div>
              <div class="col-sm-8 col-xs-12">
                <progress class="nes-progress is-success" value="90" max="100" style="width:80%">
                </progress>
              </div>
              <div class="col-sm-4 col-xs-12">
                <p style="text-align: center; margin-bottom: 0px">Marketplace Listing</p>
              </div>
              <div class="col-sm-8 col-xs-12">
                <progress class="nes-progress is-warning" value="60" max="100" style="width:80%">
                </progress>
              </div>
              <div class="col-sm-4 col-xs-12">
                <p style="text-align: center; margin-bottom: 30px">Form patrolDAO</p>
              </div>
              <div class="col-sm-8 col-xs-12">
                <progress class="nes-progress is-warning" value="30" max="100" style="width:80%">
                </progress>
              </div>
              <div class="col-sm-4 col-xs-12">
                <p style="text-align: center; margin-bottom: 15px">Commence DAO Events</p>
              </div>
              <div class="col-sm-8 col-xs-12">
                <progress class="nes-progress is-error" value="15" max="100" style="width:80%">
                </progress>
              </div>
            </div>
            <div class="row" style="margin-top: 30px;">
              <div class="col-xs-12">
                <p style="margin-bottom: 30px; font-size: 20px;">Chapter 2: Upgrade the Armory</p>
                <div class="row">
                  <div class="col-sm-4 col-xs-12">
                    <p style="text-align: center; margin-bottom: 30px">Launch Tokenomics</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <progress class="nes-progress is-warning" value="65" max="100" style="width:80%">
                    </progress>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <p style="text-align: center; margin-bottom: 30px">Airdrop $BAIL</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <progress class="nes-progress is-error" value="15" max="100" style="width:80%">
                    </progress>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <p style="text-align: center; margin-bottom: 30px">Determine DAO roles</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <progress class="nes-progress is-error" value="15" max="100" style="width:80%">
                    </progress>
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <p style="text-align: center; margin-bottom: 15px">Launch patrolDAO Prison</p>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <progress class="nes-progress is-warning" value="30" max="100" style="width:80%">
                    </progress>
                  </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                  <div class="col-xs-12">
                    <p style="margin-bottom: 30px; font-size: 20px;">Chapter 3: New Lands</p>
                    <div class="row">
                      <div class="col-sm-4 col-xs-12">
                        <p style="text-align: center; margin-bottom: 30px">.JPEG Fractionalized</p>
                      </div>
                      <div class="col-sm-8 col-xs-12">
                        <progress class="nes-progress is-error" value="1" max="100" style="width:80%">
                        </progress>
                      </div>
                      <div class="col-sm-4 col-xs-12">
                        <p style="text-align: center; margin-bottom: 30px">DAO Multiplier Exchange</p>
                      </div>
                      <div class="col-sm-8 col-xs-12">
                        <progress class="nes-progress is-error" value="1" max="100" style="width:80%">
                        </progress>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="mintsection"></a>
  <div class="container" style="padding-top: 80px; padding-right: 300px; padding-bottom: 20px; padding-left: 300px"
    align="center">
    <div class="nes-container is-rounded">
      <p>
        <center><br>MINT IS CLOSED TROOPER!</center><br>
      </p>
    </div>
  </div>

  <center>
    <br><br>
    <div>
      <a href="https://twitter.com/solpatrolnft">
        <i class="fab fa-twitter" style="font-size: 40px;"></i>
        </a>
        <a href="https://discord.gg/solpatrol">
          <i class="fab fa-discord" style="font-size: 40px;"></i>
        </a>
    </div>
    </div>
    </div>
  </center>
  <br><br>

  <script>
    window.onbeforeunload = function () {
      window.scrollTo(0, 0);
    };
  </script>
  <script>
    var cursor = document.querySelector('#cursor');
    var arrow = document.querySelector('.arrow');
    var boxTow = document.querySelector('.box-two');
    var boxOne = document.querySelector('.box-one');
    window.addEventListener('load', function () {
      // alert("helo")
      arrow.style.display = "none";
      boxTow.style.display = "none";

    })

    boxOne.addEventListener('mouseenter', function () {
      // alert("mouse enter event")
      arrow.style.display = "block";
      boxTow.style.display = "block";
      arrow.classList.add('animate__fadeInLeft');
      boxTow.classList.add('animate__fadeInLeft');
      // arrow.setAttribute('class','animate__animated animate__bounce');
      // boxTow.setAttribute('class')
    })
    document.addEventListener('mousemove', function (e) {
      var y = e.pageY;
      var x = e.pageX;
      // console.log(y)
      cursor.style.top = (y - cursor.offsetHeight / 2) + "px";
      cursor.style.left = (x - cursor.offsetWidth / 2) + "px";
    });
  </script>


</body>

</html>